Notebook to retrieve affordable housing data from CoStar (sample)

In [3]:
import pandas as pd 
import numpy as np 

import warnings
warnings.filterwarnings("ignore")

In [42]:
pd.set_option('display.max_rows', None)

In [43]:
# Test / Demo

df = pd.read_clipboard(sep=r'^', skip_blank_lines=False)

In [45]:
df

                                     8800 Lombard Pl
0                                           Palisade
1                                                  A
2                                           Existing
3                                                300
4                                            Hi-Rise
5                                            289,041
6                                         Apartments
7                                          San Diego
8                                    University City
9                                          San Diego
10                                                CA
11                                             92122
12                                         San Diego
13                                              1.24
14                                              2019
15                                                23
16                                               9.2
17                                               963
18                                            $4,570
19                                             $4.74
20                                            $4,527
21                                             $4.70
22                                              0.90
23                                              12.0
24                                              40.7
25                                              45.0
26                                               2.3
27                                 Market/Affordable
28                                  Affordable Units
29                                               All
30                           J.P. Morgan Chase & Co.
31                               4275 Mission Bay Dr
32                                Mara Pacific Beach
33                                                 A
34                                          Existing
35                                               172
36                                          Low-Rise
37                                           183,571
38                                        Apartments
39                                         San Diego
40                                     Pacific Beach
41                                         San Diego
42                                                CA
43                                             92109
44                                         San Diego
45                                              2.86
46                                              2019
47                                                 3
48                                               2.4
49                                               967
50                                            $3,373
51                                             $3.49
52                                            $3,358
53                                             $3.47
54                                              0.40
55                                               1.7
56                                              57.6
57                                              38.4
58                                               2.3
59                                 Market/Affordable
60                                  Affordable Units
61                                               All
62                                              1.16
63                                               200
64                                Equity Residential
65                                      525 Olive St
66                                         525 Olive
67                                                 A
68                                          Existing
69                                               205
70                                           Hi-Rise
71                                           150,000
72                                        Apartments
73                                         San Diego
74                                      Bankers Hill
75                                         San Diego
76                                                CA
77                                             92103
78                                         San Diego
79                                              0.62
80                                              2022
81                                                20
82                                              10.7
83                                               918
84                                            $4,725
85                                             $5.15
86                                            $4,703
87                                             $5.13
88                                              0.50
89                                              15.6
90                                              51.7
91                                              31.7
92                                               1.0
93                                 Market/Affordable
94                                  Affordable Units
95                                               All
96                     Greystar Real Estate Partners
97                                      8583 Aero Dr
98                                   Olympus Corsair
99                                                 A
100                                         Existing
101                                              360
102                                         Mid-Rise
103                                          751,468
104                                       Apartments
105                                        San Diego
106                                       Serra Mesa
107                                        San Diego
108                                               CA
109                                            92123
110                                        San Diego
111                                             7.45
112                                             2015
113                                                4
114                                              4.1
115                                              894
116                                           $3,234
117                                            $3.62
118                                           $3,216
119                                            $3.60
120                                             0.60
121                                             56.9
122                                             43.1
123                                Market/Affordable
124                                  Rent Restricted
125                                              All
126                                             0.06
127                                               20
128                                 Olympus Property
129                                      808 4th Ave
130                                       Horton 4th
131                                                B
132                                         Existing
133                                               66
134                                         Mid-Rise
135                                           51,317
136                                       Apartments
137                                        San Diego
138                                  Marina District
139                                        San Diego
140                                               CA
141                                            92101
142                                        San Diego
143                                             0.44
144                                             1995
145                                                6
146                                              3.1
147                                              639
148                                           $2,078
149                                            $3.25
150                                           $2,067
151                                            $3.24
152                                             0.50
153                                             50.8
154                                             49.3
155                                Market/Affordable
156                                  Rent Restricted
157                                              All
158                                             0.88
159                                               58
160  Brookfield Residential Oliver Mcmillan Holdings
161                                 1331 Columbia St
162                                      The Lindley
163                                                A
164                               Under Construction
165                                              422
166                                          Hi-Rise
167                                          422,000
168                                       Apartments
169                                        San Diego
170                                  Marina District
171                                        San Diego
172                                               CA
173                                            92101
174                                        San Diego
175                                             0.69
176                                             2024
177                                               37
178                                             0.00
179                                Market/Affordable
180                                  Rent Restricted
181                                              All
182                                             1.33
183                                              561
184                   Toll Brothers Apartment Living
185                                     2603 Dove St
186                                      The Element
187                                                A
188                                         Existing
189                                               28
190                                         Mid-Rise
191                                           20,650
192                                       Apartments
193                                        San Diego
194                                     Bankers Hill
195                                        San Diego
196                                               CA
197                                            92103
198                                        San Diego
199                                      $17,995,000
200                                           Active
201                                             0.52
202                                             2021
203                                                4
204                                      $642,679.00
205                                             3.69
206                                              4.0
207                                              726
208                                           $3,095
209                                            $4.21
210                                           $3,078
211                                            $4.19
212                                             0.60
213                                             46.7
214                                             50.0
215                                              3.3
216                                Market/Affordable
217                                 Affordable Units
218                                              All
219                                               19
220                                               88